cachetools==4.2.0
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
Flask==1.1.2
google-api-core==1.24.1
google-auth==1.24.0
googleapis-common-protos==1.52.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
noaa-sdk==0.1.19
opencensus==0.7.11
opencensus-context==0.1.2
opencensus-ext-azure==1.0.5
protobuf==3.14.0
psutil==5.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyJWT==1.7.1
pytz==2020.4
requests==2.22.0
rsa==4.6
six==1.15.0
twilio==6.48.0
urllib3==1.25.11
Werkzeug==1.0.1
